// Specific CSS for your home-page
@font-face {
  font-family: SWBaboonType-ExtraBold;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("SWBaboonType-ExtraBold"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-ExtraBold.woff2?v=5536545197011158130') format("woff2"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-ExtraBold.woff?v=19456383154189157') format("woff"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-ExtraBold.ttf?v=5228750235269547342') format("truetype"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-ExtraBold.eot?v=3169261924045233633') format("embedded-opentype")
}

@font-face {
  font-family: SWBaboonType-Regular;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("SWBaboonType-Regular"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Regular.woff2?v=3618859735669090204') format("woff2"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Regular.woff?v=17183171429320687592') format("woff"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Regular.ttf?v=11752045434479786205') format("truetype"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Regular.eot?v=16339366780917098672') format("embedded-opentype")
}

@font-face {
  font-family: SWBaboonType-Light;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("SWBaboonType-Light"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Light.woff2?v=7552596169528349957') format("woff2"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Light.woff?v=958355802258613667') format("woff"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Light.ttf?v=12287659787865141779') format("truetype"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-Light.eot?v=8554978849219055464') format("embedded-opentype")
}

@font-face {
  font-family: SWBaboonType-UltraLight;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: local("SWBaboonType-UltraLight"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-UltraLight.woff2?v=11741371409226586433') format("woff2"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-UltraLight.woff?v=11982696149631920001') format("woff"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-UltraLight.ttf?v=759137411486449603') format("truetype"), url('//cdn.shopify.com/s/files/1/0078/6569/6313/t/103/assets/SWBaboonType-UltraLight.eot?v=559711835007484208') format("embedded-opentype")
}

.screensaver {
  background: rgba(0, 0, 0, .4);
  bottom: 100%;
  height: 100%;
  left: -100%;
  overflow: hidden;
  position: fixed;
  top: -200%;
  width: 100%;
  z-index:1000
}

.screensaver.active {
  bottom: 0;
  left: 0;
  right: 0;
  top:0
}

@media (max-width: 767px) {
  .screensaver.active {
    display:none
  }
}

.screensaver.active img {
  -webkit-animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate, rotate 5s linear 0s infinite;
  animation: moveX 4.05s linear 0s infinite alternate, moveY 4.4s linear 0s infinite alternate, rotate 5s linear 0s infinite;
  display: block;
  height: 80px;
  position: absolute;
  width:80px
}

.screensaver.disable {
  display:none
}

.expanded-press {
  position: relative;
  background-color: #4d3b80;
  padding: 140px 0 15px;
  margin-top: -90px;
  z-index:-100
}
.expanded-press__title {
  margin: 0 auto;
  text-align: center;
  color: #d896d5;
  font-size: 28px;
  line-height: 1.25;
  font-family:SWBaboonType-Regular, helvetica, sans-serif
}

.collection-cta--first {
  padding: 50px 0;
  background: linear-gradient(#ca8afa, #6587ff);
  margin-top:-100px
}

.collection-cta__background svg {
  fill: #000cdd;
  vertical-align: top;
  width: 100%;
  height:auto
}

.collection-cta__background {
  background: 0 0;
  width: 100%;
  margin-bottom:-1px
}



.collection-cta__background--bottom {
  fill: #afe5ab;
  margin-top:-1px
}

.collection-cta__background--flip {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: #ff5419;
  margin-top:-1px
}

.collection-cta__background--flip-bottom {
  background:#afe5ab
}

.collection-cta__background--flip-bottom svg {
  fill:#ff5419
}

.collection__menu {
  display: none;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index:500
}

.homepage {
  position: relative
}

.collection-cta {
  background-color: #000cdd;
  padding:50px 0
}

.collection-cta--first .collection-cta-meta__button {
  color: #fff;
  background-color:#000cdd
}

.collection-cta--first .collection-cta-meta__button:hover {
  background: #ff5419;
  color:#fff
}

.collection-cta--third {
  background-color:#ff5419
}

.collection-cta--third .collection-cta-meta__button:hover {
  background: #000cdd;
  color:#fff
}

.collection-cta--forth {
  padding: 50px 0 50px;
  background-color:#afe5ab
}

@media (min-width: 768px) {
  .collection-cta {
    padding:0
  }
}

.collection-cta--top {
  z-index:100
}

@media (max-width: 1023px) {
  .collection-cta--center-mobile {
    margin:0 auto
  }
}



@media (max-width: 767px) {
  .collection-cta__background {
    display:none
  }
}

.collection-cta-media {
  text-align:right
}

.collection-cta-media a {
  display:block
}

@media (min-width: 768px) {
  .collection-cta-media--upwords {
    margin-top:-100px
  }
}

.collection-cta-media--mobile {
  display:block
}

@media (min-width: 768px) {
  .collection-cta-media--mobile {
    display:none
  }
}

.collection-cta-media--desktop {
  display:none
}

@media (min-width: 768px) {
  .collection-cta-media--desktop {
    display:block
  }
}

.collection-cta-media--left {
  text-align:left
}

@media (min-width: 768px) {
  .collection-cta-media--left {
    padding-top:50px
  }
}

.collection-cta-media__image {
  width: 100%;
  height:auto
}

.collection-cta-media__image-link {
  display:inline-block
}

.collection-cta-meta {
  color: #fff;
  text-align: left;
  max-width: 280px;
  padding-left:40px
}

@media (max-width: 321px) {
  .collection-cta-meta {
    padding-left:20px
  }
}

@media (min-width: 1024px) {
  .collection-cta-meta {
    padding-left:0
  }
}

@media (min-width: 768px) {
  .collection-cta-meta--downwards {
    margin-top: 100px;
    margin-bottom:100px
  }
}

.collection-cta-meta__title {
  color: #fff;
  margin: 0 auto 10px;
  line-height: 1;
  font-size:54px
}

@media (min-width: 768px) {
  .collection-cta-meta__title {
    margin:0 auto
  }
}

.collection-cta-meta__copy {
  color: #fff;
  margin: 20px auto 0;
  font-size:18px
}

.collection-cta-meta__button {
  margin: 25px auto;
  display: inline-block;
  border-radius: 50px;
  padding: 0 40px;
  color: #000cdd;
  background:#fff
}

.collection-cta-meta__button:hover {
  background: #ff5419;
  color:#fff
}



@media (min-width: 768px) {
  .collection-cta--first {
    padding-top: 100px;
    margin-top: -125px;
    padding-bottom:0
  }
}

@media (min-width: 1024px) {
  .collection-cta--first {
    margin-top:-200px
  }
}

@media (min-width: 1024px) {
  .collection-cta--first .collection-cta-media__image {
    margin-right:-50px
  }
}

.collection-cta--first .collection-cta-meta {
  padding-left: 0;
  max-width: 80%;
  text-align: center;
  margin:0 auto
}

.collection-cta--first .collection-cta-meta__title {
  max-width:232px
}

@media (min-width: 768px) {
  .collection-cta--first .collection-cta-meta {
    max-width:50%
  }
}

@media (min-width: 1024px) {
  .collection-cta--first .collection-cta-meta {
    max-width: inherit;
    margin:0
  }
}



@media (min-width: 1024px) {
  .collection-cta--forth {
    padding:0 0 50px
  }
}

@media (min-width: 1441px) {
  .collection-cta--forth {
    padding:0 0 50px
  }
}

.collection-cta--forth .collection-cta-media {
  text-align:right
}

@media (min-width: 768px) {
  .collection-cta--forth .collection-cta-media {
    margin-bottom:0
  }
}

@media (min-width: 768px) {
  .collection-cta--forth .collection-cta-media__image {
    margin-right:-50px
  }
}

@media (min-width: 768px) {
  .collection-cta--forth .collection-cta-meta--downwards {
    margin-bottom:0
  }
}

.collection-cta--forth .collection-cta-meta__title {
  color:#4d3b80
}

.collection-cta--forth .collection-cta-meta__copy {
  color:#4a3d7c
}

.collection-cta--forth .collection-cta-meta__button {
  background: #4a3d7c;
  color:#afe5ab
}

.collection-cta--forth .collection-cta-meta__button:hover {
  background: #000cdd;
  color:#fff
}

.col-sm-1 {
  -ms-flex-preferred-size: calc(100% *(1 / 6));
  flex-basis: calc(100% *(1 / 6));
  max-width:calc(100% *(1 / 6))
}

.col-sm-2 {
  -ms-flex-preferred-size: calc(100% *(2 / 6));
  flex-basis: calc(100% *(2 / 6));
  max-width:calc(100% *(2 / 6))
}

.col-sm-3 {
  -ms-flex-preferred-size: calc(100% *(3 / 6));
  flex-basis: calc(100% *(3 / 6));
  max-width:calc(100% *(3 / 6))
}

.col-sm-4 {
  -ms-flex-preferred-size: calc(100% *(4 / 6));
  flex-basis: calc(100% *(4 / 6));
  max-width:calc(100% *(4 / 6))
}

.col-sm-5 {
  -ms-flex-preferred-size: calc(100% *(5 / 6));
  flex-basis: calc(100% *(5 / 6));
  max-width:calc(100% *(5 / 6))
}

.col-sm-6 {
  -ms-flex-preferred-size: calc(100% *(6 / 6));
  flex-basis: calc(100% *(6 / 6));
  max-width:calc(100% *(6 / 6))
}

.col-sm-6.col--offset {
  padding-left:0
}

@media (min-width: 768px) {
  .col-sm-6.col--offset {
    padding-left:20px
  }
}

.col-sm-6.col--offset:first-of-type {
  padding-left:0
}

.between-xs {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content:space-between
}

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex-preferred-size: calc(100% *(1 / 8));
    flex-basis: calc(100% *(1 / 8));
    max-width:calc(100% *(1 / 8))
  }

  .col-md-1--of-6 {
    -ms-flex-preferred-size: calc(100% *(1 / 6));
    flex-basis: calc(100% *(1 / 6));
    max-width:calc(100% *(1 / 6))
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    -ms-flex-preferred-size: calc(100% *(2 / 8));
    flex-basis: calc(100% *(2 / 8));
    max-width:calc(100% *(2 / 8))
  }

  .col-md-2--of-6 {
    -ms-flex-preferred-size: calc(100% *(2 / 6));
    flex-basis: calc(100% *(2 / 6));
    max-width:calc(100% *(2 / 6))
  }

  .col-md-2--half {
    -ms-flex-preferred-size: calc(100% *(2.5 / 8));
    flex-basis: calc(100% *(2.5 / 8));
    max-width:calc(100% *(2.5 / 8))
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    -ms-flex-preferred-size: calc(100% *(3 / 8));
    flex-basis: calc(100% *(3 / 8));
    max-width:calc(100% *(3 / 8))
  }

  .col-md-3--of-6 {
    -ms-flex-preferred-size: calc(100% *(3 / 6));
    flex-basis: calc(100% *(3 / 6));
    max-width:calc(100% *(3 / 6))
  }
}

@media (min-width: 768px) {
  .col-md-4 {
    -ms-flex-preferred-size: calc(100% *(4 / 8));
    flex-basis: calc(100% *(4 / 8));
    max-width:calc(100% *(4 / 8))
  }

  .col-md-4--of-6 {
    -ms-flex-preferred-size: calc(100% *(4 / 6));
    flex-basis: calc(100% *(4 / 6));
    max-width:calc(100% *(4 / 6))
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    -ms-flex-preferred-size: calc(100% *(5 / 8));
    flex-basis: calc(100% *(5 / 8));
    max-width:calc(100% *(5 / 8))
  }

  .col-md-5--of-6 {
    -ms-flex-preferred-size: calc(100% *(5 / 6));
    flex-basis: calc(100% *(5 / 6));
    max-width:calc(100% *(5 / 6))
  }
}

@media (min-width: 768px) {
  .col-md-6 {
    -ms-flex-preferred-size: calc(100% *(6 / 8));
    flex-basis: calc(100% *(6 / 8));
    max-width:calc(100% *(6 / 8))
  }

  .col-md-6--of-6 {
    -ms-flex-preferred-size: calc(100% *(6 / 6));
    flex-basis: calc(100% *(6 / 6));
    max-width:calc(100% *(6 / 6))
  }
}

@media (min-width: 768px) {
  .col-md-7 {
    -ms-flex-preferred-size: calc(100% *(7 / 8));
    flex-basis: calc(100% *(7 / 8));
    max-width:calc(100% *(7 / 8))
  }
}

@media (min-width: 768px) {
  .col-md-8 {
    -ms-flex-preferred-size: calc(100% *(8 / 8));
    flex-basis: calc(100% *(8 / 8));
    max-width:calc(100% *(8 / 8))
  }

  .col-md-8.col--offset {
    padding-left:0
  }
}

@media (min-width: 768px) and(min-width: 1024px) {
  .col-md-8.col--offset {
    padding-left:30px
  }
}

@media (min-width: 768px) {
  .col-md-8.col--offset:first-of-type {
    padding-left:0
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    -ms-flex-preferred-size: calc(100% *(1 / 12));
    flex-basis: calc(100% *(1 / 12));
    max-width:calc(100% *(1 / 12))
  }

  .col-lg-1--of-10 {
    -ms-flex-preferred-size: calc(100% *(1 / 10));
    flex-basis: calc(100% *(1 / 10));
    max-width:calc(100% *(1 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-2 {
    -ms-flex-preferred-size: calc(100% *(2 / 12));
    flex-basis: calc(100% *(2 / 12));
    max-width:calc(100% *(2 / 12))
  }

  .col-lg-2--of-10 {
    -ms-flex-preferred-size: calc(100% *(2 / 10));
    flex-basis: calc(100% *(2 / 10));
    max-width:calc(100% *(2 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-3 {
    -ms-flex-preferred-size: calc(100% *(3 / 12));
    flex-basis: calc(100% *(3 / 12));
    max-width:calc(100% *(3 / 12))
  }

  .col-lg-3--of-10 {
    -ms-flex-preferred-size: calc(100% *(3 / 10));
    flex-basis: calc(100% *(3 / 10));
    max-width:calc(100% *(3 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-4 {
    -ms-flex-preferred-size: 33.333% !important;
    flex-basis: calc(100% *(4 / 12));
    max-width:calc(100% *(4 / 12))
  }

  .col-lg-4--of-10 {
    -ms-flex-preferred-size: calc(100% *(4 / 10));
    flex-basis: calc(100% *(4 / 10));
    max-width:calc(100% *(4 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-5 {
    -ms-flex-preferred-size: calc(100% *(5 / 12));
    flex-basis: calc(100% *(5 / 12));
    max-width:calc(100% *(5 / 12))
  }

  .col-lg-5--gutter {
    -ms-flex-preferred-size: calc(100% *(5 / 12) - 40px);
    flex-basis: calc(100% *(5 / 12) - 40px);
    max-width:calc(100% *(5 / 12) - 40px)
  }

  .col-lg-5--of-10 {
    -ms-flex-preferred-size: calc(100% *(5 / 10));
    flex-basis: calc(100% *(5 / 10));
    max-width:calc(100% *(5 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-6 {
    -ms-flex-preferred-size: calc(100% *(6 / 12));
    flex-basis: calc(100% *(6 / 12));
    max-width:calc(100% *(6 / 12))
  }

  .col-lg-6--of-10 {
    -ms-flex-preferred-size: calc(100% *(6 / 10));
    flex-basis: calc(100% *(6 / 10));
    max-width:calc(100% *(6 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-7 {
    -ms-flex-preferred-size: calc(100% *(7 / 12));
    flex-basis: calc(100% *(7 / 12));
    max-width:calc(100% *(7 / 12))
  }

  .col-lg-7--of-10 {
    -ms-flex-preferred-size: calc(100% *(7 / 10));
    flex-basis: calc(100% *(7 / 10));
    max-width:calc(100% *(7 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-8 {
    -ms-flex-preferred-size: calc(100% *(8 / 12));
    flex-basis: calc(100% *(8 / 12));
    max-width:calc(100% *(8 / 12))
  }

  .col-lg-8--of-10 {
    -ms-flex-preferred-size: calc(100% *(8 / 10));
    flex-basis: calc(100% *(8 / 10));
    max-width:calc(100% *(8 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-9 {
    -ms-flex-preferred-size: calc(100% *(9 / 12));
    flex-basis: calc(100% *(9 / 12));
    max-width:calc(100% *(9 / 12))
  }

  .col-lg-9--of-10 {
    -ms-flex-preferred-size: calc(100% *(9 / 10));
    flex-basis: calc(100% *(9 / 10));
    max-width:calc(100% *(9 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-10 {
    -ms-flex-preferred-size: calc(100% *(10 / 12));
    flex-basis: calc(100% *(10 / 12));
    max-width:calc(100% *(10 / 12))
  }

  .col-lg-10--of-10 {
    -ms-flex-preferred-size: calc(100% *(10 / 10));
    flex-basis: calc(100% *(10 / 10));
    max-width:calc(100% *(10 / 10))
  }
}

@media (min-width: 1024px) {
  .col-lg-11 {
    -ms-flex-preferred-size: calc(100% *(11 / 12));
    flex-basis: calc(100% *(11 / 12));
    max-width:calc(100% *(11 / 12))
  }
}

@media (min-width: 1024px) {
  .col-lg-12 {
    -ms-flex-preferred-size: calc(100% *(12 / 12));
    flex-basis: calc(100% *(12 / 12));
    max-width:calc(100% *(12 / 12))
  }
}

.col-lg-12.col--offset {
  padding-left:0
}

.col-lg-12.col--offset:first-of-type {
  padding-left:0
}



.site-wrapper {
  margin:0 16px
}

@media (min-width: 768px) {
  .site-wrapper {
    margin:0 32px
  }
}

@media (min-width: 1024px) {
  .site-wrapper {
    margin:0 40px
  }
}

@media (min-width: 1280px) {
  .site-wrapper {
    margin:0 51px
  }
}

.site-wrapper--padding {
  padding:0 16px
}

@media (min-width: 768px) {
  .site-wrapper--padding {
    padding:0 32px
  }
}

@media (min-width: 1024px) {
  .site-wrapper--padding {
    padding:0 40px
  }
}

@media (min-width: 1280px) {
  .site-wrapper--padding {
    padding:0 51px
  }
}


.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:(1fr) [6];
  grid-template-columns: repeat(6, 1fr);
  width:100%
}

@media (min-width: 768px) {
  .grid-container {
    -ms-grid-columns:(1fr) [8];
    grid-template-columns:repeat(8, 1fr)
  }
}

@media (min-width: 1024px) {
  .grid-container {
    -ms-grid-columns:(1fr) [12];
    grid-template-columns:repeat(12, 1fr)
  }
}

.grid-container--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content:center
}

.grid-container--fit-content {
  grid-auto-flow:dense
}

.grid-container--align-start {
  place-items:start start
}

.grid-container--align-center {
  place-items:center center
}

.grid-container--align-end {
  place-items:end end
}

.grid-container--row-start {
  -ms-grid-column-align: start;
  justify-items:start
}

.grid-container--row-center {
  -ms-grid-column-align: center;
  justify-items:center
}

.grid-container--row-end {
  -ms-grid-column-align: end;
  justify-items:end
}

.grid-container--column-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items:start
}

.grid-container--column-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items:center
}

.grid-container--column-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items:end
}

.grid-container--full {
  -ms-grid-columns:(1fr) [1];
  grid-template-columns:repeat(1, 1fr)
}

.grid-container--col {
  grid-auto-flow:column
}

.grid-container--gutter {
  grid-gap:12px
}

@media (min-width: 768px) {
  .grid-container--gutter {
    grid-gap:24px
  }
}

@media (min-width: 1024px) {
  .grid-container--gutter {
    grid-gap:28px
  }
}

@media (min-width: 1280px) {
  .grid-container--gutter {
    grid-gap:34px
  }
}
