<!-- Image -->
<!-- <div class="row">
  <div class="col-md-12">
  </div>
</div>
<br/>

<div class="row"> -->

  <!-- LEFT PANEL -->
<!--   <div class="col-md-8"> -->

    <!-- Listing Name -->
<!--     <div class="row">
      <div class="col-md-8">
        <h1>hidden</h1>
      </div>
      <div class="col-md-4 text-center">
      </div>
    </div>
    <hr/> -->

    <!-- Planet Info -->
  <!--   <div class="row text-babu">
      H
      <div class="row text-center row-space-1">
        <div class="col-md-3">
          H
          <i class="fa fa-home fa-2x"></i>
        </div>
        <div class="col-md-3">
          H
          <i class="fa fa-user-circle-o fa-2x"></i>
        </div>
        <div class="col-md-3">
          H
          <i class="fa fa-bed fa-2x"></i>
        </div>
        <div class="col-md-3">
          H
          <i class="fa fa-bath fa-2x"></i>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-md-3">HELLO</div>
        <div class="col-md-3">HELLO </div>

      </div>

    </div>
    <hr/> -->
