<div id="planets-gallery" class="container">
  <div class="d-flex justify-content-between flex-wrap">
  <% if @planets.any? %>
      <% @planets.each do |planet| %>
        <div class="card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path planet.photo.key %>)">
          <h1><%= link_to planet.name, planet_path(planet) %></h1>
        </div>
      <% end %>
  <% else %>
    <h3>There are no planets, please check back later for any new listings.</h3>
  <% end %>
  </div>
</div>





