.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-link {
  text-decoration: none;
}

.dropdown-item {
  text-decoration: none;
}


.navbar-brand {
  text-decoration: none;
  p {
  margin-bottom: 0px;
  color: #000cdd;
  font-family: SWBaboonType-Light, helvetica, sans-serif;
  font-weight: bold;
}
}
