.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-link {
  text-decoration: none;
  font-family: "Quantico", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.dropdown-item {
  text-decoration: none;
  font-family: "Quantico", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.navbar-brand {
  text-decoration: none;
  p {
  margin-bottom: 0px;
  color: #000cdd;
  font-family: SWBaboonType-Light, helvetica, sans-serif;
  font-weight: bold;
}
}
